# zendesk auth
export ASSIGN_BOT_ZENDESK_USERNAME=""
export ASSIGN_BOT_ZENDESK_TOKEN=""

# something like company.zendesk.com/api/v2
export ASSIGN_BOT_ZENDESK_URI=""

# API Token for our PD account
export ASSIGN_BOT_PAGERDUTY_TOKEN=""

# Schedule ID for oncall schedule to use
export ASSIGN_BOT_PAGERDUTY_SCHEDULE_ID=""
