export ASSIGN_BOT_ZENDESK_USERNAME=""
export ASSIGN_BOT_ZENDESK_TOKEN=""
export ASSIGN_BOT_ZENDESK_URI=""

# API Token for our PD account
export ASSIGN_BOT_PAGERDUTY_TOKEN=""

# Schedule ID for assigner schedule
export ASSIGN_BOT_PAGERDUTY_SCHEDULE_ID=""
